body{
    background-color: rgb(24, 24, 24);
    font: normal 27pt arial;
}
header{
    color: white;
    text-align: center;
    text-shadow: 1px 1px rgb(0, 132, 255);
}
section{
    background: white;
    border-radius: 10px;
    padding: 5px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(0, 132, 255);
    font-size: 15pt;

}
.button{
    background-color: rgb(100, 180, 255);
    border-radius: 5px;
    font-size: 11pt;
}
footer{
    color: white;
    text-align: center;
    font: italic 13pt arial;
    text-shadow: 1px 1px black;
}